
*{
    box-sizing: border-box;
    margin: 0;
}



html, body{
    height: 100%;
    width: 100%;
}

header{
    margin: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    height: 100%;
}

main section{
    width: 100%;
}

main section div{
    width: 100%;
}

main section div php{
    width: 100%;
}

table{
    border-collapse: collapse;
    border: solid 5px;

}

table tbody{
    width: 80%;
    word-wrap: break-word;
}
table tbody tr:nth-child( odd ){
    background-color:rgb(211, 102, 102);
}

table tbody tr:nth-child( even ){
    background-color:rgba(0, 0, 0, 0.316);
}

table tbody td{
    border: solid; 
    font-size: large;
    padding:1em;
}
