
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    background-color: wheat;
    width: 100%;
    height: 100%;
}

.contenedor{
    width: 90%;
    height: 100%;
    margin: auto;
}

.titulo{
    background-color: grey;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorMenuTexto{
    display: flex;
    width: 100%;
    height: 70%;
}

.contenedorMenu{
    background-color: black;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h3{
    color: white;
    margin: 0 0 30% 0;
}

.contenedorMenu ul{
    width: 80%;
    height: 40%;
    background-color: rgba(255, 0, 0, 0.72);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor ul li{
    list-style: none;
}

.contenedorMenu ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}

.contenedorTexto{
    background-color: rgb(173, 173, 173);
    width: 80%;
    overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.contenedorPieDePagina{
    background-color: grey;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 500px){
    .contenedorMenu{
        width: 40%;
    }

    .contenedorTexto{
        background-color: rgb(173, 173, 173);
        width: 60%;
    
    }
}

@media(max-width: 768px){
    .contenedorMenu{
        width: 30%;
    }

    .contenedorTexto{
        background-color: rgb(173, 173, 173);
        width: 70%;
    
    }
}













