
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: wheat;
    overflow: hidden;
}


header{
    height: 15%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: red;
    background-color: black;
    justify-content: center;
    text-align: center;
}

h1{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    height: 70%;
}

/* //-------------------------------------------------------------
//                      MODAL
//------------------------------------------------------------- */


.seccionModal{
    position: fixed;
    left: 20%;
    top: 21%;
    width: 60%;
    height: 60%;
    pointer-events: none;
}

.contenedorEncabezadoModal{
    display: flex;
    height: 7%;
    background-color: black;
    color: red;
}

.contenedorEncabezadoModal .contenedorH2{
    width: 96%;
    display: flex;
    justify-content: center;
    text-align: center
}

.contenedorEncabezadoModal .contenedorX{
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.contenedorEncabezadoModal .x{
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: red;
}
.contenedorEncabezadoModal  :hover .x{
    background-color: green;
    transition-duration: 1s;
}

.contenedorRespuesta{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* .respuesta{
    font-size: larger;
    word-break: break-all;
    overflow: auto;
} */



.contenedorRespuesta button{
    margin: 10em auto 0 auto;
    width: 10em;
    height: 2em;
    background-color: black;
    color: wheat;
}

.contenedorRespuesta button:hover{
    border: groove 4px wheat;
    transition-duration: 0.5s;
}

.modalOn{
    background-color: rgb(70, 0, 0);
    color: wheat;
    display: auto;
    width: 100%;
    height: 100%;
    pointer-events: auto;   
    /* overflow: hidden; */
    overflow-wrap: break-word;
}

.modalOff{
    display: none;
}

.On{
    pointer-events: auto;
    opacity: 1;
    transition: 2s;
}

.Off{
    pointer-events: none;
    opacity: 0.3;
    transition: 2s;
}



/* //-------------------------------------------------------------
//                      FOOTER
//------------------------------------------------------------- */

footer{
    height: 15%;
    width: 100%;
    color: red;
    background-color: black;
}
